<!--<h1>Notifications#index</h1>-->

<!--<h3 class="text-center">通知</h3>-->

<!--  <#% if @notifications.exists? %>-->
<!--    <#%= link_to "通知削除", notification_path(@notifications), method: :delete, class: "fas fa-trash" %>-->
<!--    <div class="notification-index">-->
      <%#= render "notifications/notification", comment: @comment %>
<!--      <#% @notification.each do |notification| %>-->
<!--       <#%= notification_form(notification) %>-->
<!--      <#% end %>-->
<!--    </div>-->
<!--  <#% else %>-->
<!--    <p>通知はありません</p>-->
<!--  <#% end %>-->