<div class="profile-container">
  
   <div class="row">
     <div class="col-md-12 offset-md-1">
       <table class="table table-hover table-invers table-borderless mt-4">
         <thead>
           <tr>
             <th></th>
             <th>Name</th>
             <th>Intro</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td><%= attachment_image_tag user, :profile_image, :fill, 45, 45, format: "jpeg",fallback: "no_user.jpg",class: "img-fluid rounded-circle" %></td>
             
             <td><%= user.name %></td>
             
             <td><%= user.introduction %></td>
           </tr>
         </tbody>
       </table>
      </div>
    </div>
 </div>