<div class="col-xl-4">
    <div class="card">
        <div class="card-body">
            <div class="dropdown float-end">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end" style="">
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                </div>
            </div>

            <h4 class="header-title mb-3">Inbox</h4>

            <div class="inbox-widget">
                
                <div class="inbox-item">
                    <a href="#">
                        <div class="inbox-item-img"><img src="../assets/images/users/user-1.jpg" class="rounded-circle" alt=""></div>
                        <h5 class="inbox-item-author mt-0 mb-1">Chadengle</h5>
                        <p class="inbox-item-text">Hey! there I'm available...</p>
                        <p class="inbox-item-date">13:40 PM</p>
                    </a>
                </div>
                
                <div class="inbox-item">
                    <a href="#">
                        <div class="inbox-item-img"><img src="../assets/images/users/user-2.jpg" class="rounded-circle" alt=""></div>
                        <h5 class="inbox-item-author mt-0 mb-1">Tomaslau</h5>
                        <p class="inbox-item-text">I've finished it! See you so...</p>
                        <p class="inbox-item-date">13:34 PM</p>
                    </a>
                </div>

                <div class="inbox-item">
                        <a href="#">
                        <div class="inbox-item-img"><img src="../assets/images/users/user-3.jpg" class="rounded-circle" alt=""></div>
                        <h5 class="inbox-item-author mt-0 mb-1">Stillnotdavid</h5>
                        <p class="inbox-item-text">This theme is awesome!</p>
                        <p class="inbox-item-date">13:17 PM</p>
                    </a>
                </div>

                <div class="inbox-item">
                    <a href="#">
                        <div class="inbox-item-img"><img src="../assets/images/users/user-4.jpg" class="rounded-circle" alt=""></div>
                        <h5 class="inbox-item-author mt-0 mb-1">Kurafire</h5>
                        <p class="inbox-item-text">Nice to meet you</p>
                        <p class="inbox-item-date">12:20 PM</p>
                    </a>
                </div>

                <div class="inbox-item">
                    <a href="#">
                        <div class="inbox-item-img"><img src="../assets/images/users/user-5.jpg" class="rounded-circle" alt=""></div>
                        <h5 class="inbox-item-author mt-0 mb-1">Shahedk</h5>
                        <p class="inbox-item-text">Hey! there I'm available...</p>
                        <p class="inbox-item-date">10:15 AM</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>