<!-- List Groups -->
<div class="row">
<div class="col-md-8 offset-md-1 mt-4">
  <ul class="list-group u-font-size-90">


    <li class="list-group-item">
      <div class="media">

        <div class="media-body">
          <p class="mb-0"><strong>Alberta Watson</strong> is offering free coffee</p>
          <span class="u-font-size-75 text-dark">12 minutes ago</span>
          <span class="u-font-size-75 text-dark">56 minutes ago</span>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="media">
        <div class="d-flex mr-3">
          <img class="rounded-circle u-box-shadow-sm mt-1" width="40" height="40" src="assets/img-temp/ava/img1.jpg" alt="Htmlstream">
        </div>
        <div class="media-body">
          <p class="mb-0"><strong>Htmlstream</strong> sent you a message</p>
          <span class="u-font-size-75 text-dark">56 minutes ago</span>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="media">
        <div class="d-flex mr-3">
          <img class="rounded-circle u-box-shadow-sm mt-1" width="40" height="40" src="assets/img-temp/ava/img3.jpg" alt="Htmlstream">
        </div>
        <div class="media-body">
          <p class="mb-0"><strong>Edmon Low</strong> <span class="badge badge-secondary mr-1">Free</span> saved your pin</p>
          <span class="u-font-size-75 text-dark">2 hours ago</span>
        </div>
      </div>
    </li>
  </ul>
</div>
